# Lots of junk goes in here.
/caches/
/backups/

# Top secret stuff!
/link/.ssh/

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*
/source/99_*

*.iml
.idea/*
*.swp
